<%= render "shared/header" %>

<div class="background_list_edit">
  <%= form_with(model: @list, class: 'list_edit_form', local: true) do |f| %>
    <div class="form_header">
      リスト編集
    </div>
    <div class="list_edit_form_wrap">
      <div class="img-upload">
        <div class="form_text">
          リスト画像
        </div>
        <div class="click-upload">
          <div>
          クリックしてファイルをアップロード
          </div>
          <%= f.file_field :image, id:"list-image" %>
        </div>
      </div>

      <div class="form_text">
        リスト名
        <span class="required">必須</span>
      </div>
      <%= f.text_area :list_name, class:"list_name", id:"list_name", placeholder:"リスト名（10文字まで)", maxlength:"10" %>
      
      <div class="form_text">
        パスワード
        <span class="required">必須</span>
      </div>
      <%= f.password_field :list_password, class:"list_password", id:"list_password", placeholder:"4文字の半角数字" %>

      <div class="actions">
        <%= f.submit"リスト編集" %>
      </div>
    </div>
  <% end %>
</div>