<%= render "shared/header" %>

<div class="background_list_new">
  <%= form_with(model: @list, class: 'list_new_form', local: true) do |f| %>
    <div class="form_header">
      リスト登録
    </div>
    <div class="list_new_form_wrap">
      <div class="img-upload">
        <div class="form_text">
          リスト画像
        </div>
        <div class="click-upload">
          <div>
            クリックしてファイルをアップロード
          </div>
          <%= f.file_field :image, id:"list-image" %>
        </div>
      </div>

      <div class="form_text">
        リスト名
        <span class="required">必須</span>
      </div>
      <%= f.text_area :list_name, class:"list_name", id:"list_name", placeholder:"リスト名（10文字まで)", maxlength:"10" %>
      
      <div class="form_text">
        共有用ID<br>(他のユーザーに共有する場合は設定してください。<br>後から設定も可能です。)
      </div>
      <%= f.text_area :shared_id, class:"shared_id", id:"shared_id", placeholder:"4文字以上10文字までの半角英数", maxlength:"10" %>


      <div class="form_text">
        共有用パスワード<br>(他のユーザーに共有する場合は設定してください。<br>後から設定も可能です。)
      </div>
      <%= f.password_field :shared_password, class:"shared_password", id:"shared_password", placeholder:"4文字の半角数字" %>

      <div class="actions">
        <%= f.submit"リスト登録" %>
      </div>
    </div>
  <% end %>

</div>